$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;



    
%heading {
    // font-family: $font-display;
    font-weight: 400;
}

.heading3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading4 {
@extend %heading;
font-size: 1.9rem;
color: $color-grey-light-1;

&--light { color: $color-grey-light-1; }
&--dark { color: $color-grey-dark-1; }
}


// .container {
//     display: grid;
//      grid-template-rows: 80vh ;
//     grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
// }

.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    // @media only screen and (max-width: $bp-medium) {
    //     grid-column: 1 / -1;
    // }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

    //     @media only screen and (max-width: $bp-medium) {
    //         grid-template-columns: repeat(3, min-content max-content);
    //     }

    //     @media only screen and (max-width: $bp-small) {
    //         grid-template-columns: min-content max-content;
    //     }
     }

    &__img {
        width: 5rem;
        height : 5rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
         margin-top: 1px;
    }
}